@model dynamic

@{
    ViewBag.Title = "Vehicles";
    Layout = "../Shared/_Layout.cshtml";
}   

<div class="ManagePanel">
</div>

<div class="Map">
    <span>Map</span>
</div>

    <script type="text/javascript">Ext.onReady(function () { alert('hello') });</script>